.single-list{
    background-color: lightgrey;
    margin: 10px;
    width: 250px;
    min-height: 80px;
    padding: 10px;
    border-radius: 5px;
    /* position: relative; */
}
.single-list .but, .single-list .tit{
    display: flex;
    justify-content: space-between;

}
.single-list .but{
    margin-top: 10px;
}
.add-to-card{
    cursor: pointer;
}